<html ng-app="usertask">
<base href="/">

<head>
    <!--BOOTSTRAP CSS IMPORT-->
    <link rel="stylesheet" href="centroid-web/user-task-pages/dependency/css/bootstrap.min.css">
    <!--CUSTOM CSS IMPORT-->
    <link rel="stylesheet" href="centroid-web/user-task-pages/dependency/css/custom.css">
    <!--ADD YOUR DEPENDENCIES (CSS)-->
    <!--Q JS IMPORT-->
    <script type="text/javascript" src="centroid-web/user-task-pages/dependency/js/q.js"></script>
    <!--JQUERY JS IMPORT-->
    <script type="text/javascript" src="centroid-web/user-task-pages/dependency/js/jquery-3.1.1.min.js"></script>
    <!--BOOTSTRAP JS IMPORT-->
    <script type="text/javascript" src="centroid-web/user-task-pages/dependency/js/bootstrap.min.js"></script>
    <!--ANGULAR JS IMPORT-->
    <script type="text/javascript" src="centroid-web/user-task-pages/dependency/js/angular.min.js"></script>
    <!--ADD YOUR DEPENDENCIES (JS)-->
    <!--DO NOT CHANGE OR DELETE-->
    <!--SPEED JS IMPORT-->
    <script type="text/javascript" src="centroid-web/user-task-pages/dependency/js/speedservices.js"></script>
    <!--DO NOT CHANGE OR DELETE-->
    <!--ANGULAR MODULE-->
    <script type="text/javascript">
        var usertask = angular.module('usertask', []);
    </script>
    <!--DO NOT CHANGE OR DELETE-->
    <!--ACCELLO CONFIG-->
    <script type="text/javascript" src="centroid-web//config.js"></script>
    <!--ANGULAR CONFIG-->
    <script type="text/javascript" src="centroid-web/user-task-pages/dependency/js/angular/config.js"></script>
    <!--CUSTOM JS IMPORT-->
    <script type="text/javascript" src="centroid-web/user-task-pages/dependency/js/custom.js"></script>
    <!--DO NOT CHANGE OR DELETE-->
    <!--ANGULAR CONTROLLER-->
    <script type="text/javascript">
        usertask.controller('UserTaskController', function($scope, $accello) { /*------------------- DO NOT CHANGE OR DELETE -------------------*/
            $scope.inputParam = {};
            $scope.inputs = [];
            $scope._init = function() {
                $accello._init().then(function(data) {
                    $scope.inputParam = data._input;

                    $scope.inputParam['InputData'] = JSON.parse($scope.inputParam['InputData']);
                    $scope.Audit=$scope.inputParam['InputData'];


                }, function(err) {
                    console.error(err);
                });
            };
            $scope._save = function() {

                $scope.inputs[0] = JSON.stringify($scope.updatedArray);

                $accello._save($scope.inputs);
            }; /*------------------- DO NOT CHANGE OR DELETE -------------------*/ /*---------- ADD YOUR CONTROLLER CODE HERE ------------*/


            $scope.updatedArray=[];
            $scope.TempObj = {};
            //load data when click the table raw
            $scope.getTableData = function (auditRecord) {


                $scope.AuditData = {};
                $scope.TempObj = auditRecord;
                $scope.AuditData.AccountNo = auditRecord.AccountNo;
                $scope.AuditData.Status = auditRecord.Status;
                $scope.AuditData.ProcessType=auditRecord.ProcessType;
                $scope.AuditData.Name =auditRecord.Name;


            }

//change status when click the checkbox
            $scope.getNotified = function (val) {

                if($scope.AuditData.Status.length!=0  ){
                    //$scope.AuditData.Status ="Pending";
                    //$scope.Audit.Status ="Pending";
                    console.log(val.Status);
                    val.Status = "Pending";
                    console.log(val);




                }
            }

//Save the data

            $scope.saveData = function (val) {


                $scope.updatedArray.push(val);
                console.log( $scope.updatedArray);

                console.log($scope.TempObj);
                $scope.Audit.splice($scope.Audit.indexOf($scope.TempObj),1);



                //console.log($scope.Audit);

                $scope.AuditData = {};
            }

//clear data from the table
            $scope.clearData = function () {

                $scope.AuditData = {};
            }


        });
    </script>
</head>

<body ng-controller="UserTaskController" ng-init="_init()">
<div>

    <div class="container">

        <div class="page-header">
            <h2 class="text-info">Audit Table Status handling</h2>
        </div>
        <div class="well well-lg">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Account Number</label>
                                <input class="form-control" ng-model="AuditData.AccountNo">
                            </div>
                        </div>


                        <div class="col-md-3" >
                            <div class="form-group">
                                <label>Current Status</label>
                                <input class="form-control" ng-model="AuditData.Status" disabled>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">

                                <br>


                                <div class="checkbox">
                                    <label class="checkbox-inline "><input type="checkbox" value="Yes" name="changeStatus" ng-model="AuditData.pending" ng-click="getNotified(AuditData)">Change status to pending</label><br>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <button class="btn btn-success" id="save" ng-click="saveData(AuditData)" >Save Changers</button>
                            <button class="btn btn-success" id="clear" ng-click="clearData()" >Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h3> <strong>Audit Table</strong></h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="data-table">

                        <tr>
                            <th>AccountNo</th>
                            <th>Name</th>
                            <th>Process Type</th>
                            <th>CIF</th>
                            <th>Status</th>
                        </tr>



                        <tr ng-repeat="record in Audit | filter:AuditData:strict " ng-click="getTableData(record)" >
                            <td>{{record.AccountNo}}</td>
                            <td>{{record.Name}}</td>
                            <td>{{record.ProcessType}}</td>
                            <td>{{record.CIF}}</td>
                            <td>{{record.Status}}</td>

                        </tr>


                    </table>
                </div>
            </div>
        </div>


    </div>



</div>
<div style=" left: 0px; bottom: 0px; height: 60px; width: 100%; background: #D0D0D0; padding: 15px; display: table;">
    <div style="font-size: 15px; font-weight: bold; color: #3e4eb8;">Accello Usertask Template</div>
    <div style="font-size: 12px; font-style: italic;">© Virtusa | Polaris</div>
    <div style="display: table-cell; vertical-align: middle;">
        <div style="position: absolute; width: 20%;"><span id="usertaskMsgHeaderSpan" style="font-weight: bold;"></span><span id="usertaskMsgContentSpan" style="word-wrap: break-word; font-size: 11px; letter-spacing: 0.5px;"></span></div>
        <button style="vertical-align: middle; display: block; width: 40%; margin: 0 auto; padding: 5px 10px; border-radius: 5px; background: #3E4EB8; color: #fff; outline: none; float: right;" type="button" ng-click="_save()">Perform Task</button>
    </div>
</div>
</body>

</html>