<!DOCTYPE html>
<html ng-app="MainModule">
<head>
    <meta charset="UTF-8">
    <title>Letter of Demand Lawyer Attendance Detail</title>
</head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script >
        angular.module("MainModule",[]).controller("MainController",function ($scope){
            $scope.message = "Hii to Angular";

            $scope.lawyers=[
                {"No":"1","Name":"Janaka Chathuranga","Availability":true,"Temporary_Category":"Cards_Non_WOFF"},
                {"No":"2","Name":"Mekala Rashmika","Availability":false,"Temporary_Category":"Personal_Loan_Non_WOFF"},
                {"No":"3","Name":"Yoshani Kavindya","Availability":false,"Temporary_Category":"Personal_Non_WOFF"},
                {"No":"4","Name":"Hashan Buddhima","Availability":true,"Temporary_Category":"Auto_Loan_Non_WOFF"},
                {"No":"5","Name":"Ashani Dikowita","Availability":false,"Temporary_Category":"Cards_Non_WOFF"},
                {"No":"6","Name":"Janaka Chathuranga","Availability":true,"Temporary_Category":"Housing_Non_WOFF"}
            ];


            $scope.persentLawyers=[
                {"Name":"Prabath Udayanga"},
                {"Name":"Dilshani Bandara"},
                {"Name":"Ranura Ashvin disssanayake"}
            ];

            //$scope.mode = 'true';

            $scope.OutputArray =[];

            $scope.OutputArray =[];

            $scope.addDataToArray = function (val) {
//                console.log($scope.OutputData);

                $scope.OutputArray.push(val);
                console.log($scope.OutputArray);
            }


        });
    </script>


<body>
<br>
<div class="container"  >
 <h1  style="font-family: sans-serif;color: midnightblue"> Letter of Demand Lawyer Availability </h1>
</div>

<br><br>

    <div ng-controller="MainController">
        <div class="container">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td style="width: 50%;">
                        <p><b> Select Lawyer Product Type :    <select ng-model="searchContent.Temporary_Category">
                            <option value="">All product type</option>
                            <option value="Cards_Non_WOFF">Cards_Non_WOFF</option>
                            <option value="Personal_Non_WOFF">Personal_Non_WOFF</option>
                            <option value="Housing_Non_WOFF">Housing_Non_WOFF</option>
                            <option value="Auto_Loan_Non_WOFF">Auto_Loan_Non_WOFF</option>
                            <option value="Personal_Loan_Non_WOFF">Personal_Loan_Non_WOFF</option>
                        </select></b></p>
                    </td>
                    <td>
                        <p><b> Availability :    <select ng-model="searchContent.Availability">
                            <option value="">All</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select></b></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br /> <br />
        <div class="container">
            <table ng-model="TableView" class="table table-striped">
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>Name Of the Lawyer</th>
                    <th>Product Type</th>
                    <th>Availability</th>
                    <th>Change Availability</th>
                    <!--<th>Replacement</th>-->
                    <th>Add to category</th>
                    <th>Remove from current product type</th>
                    <th>Save Changers</th>
                </tr>
                <!--inputParam['InputTableView']-->
                <tr ng-repeat="lawyer in inputParam['InputTableView'] | filter:searchContent">
                    <td>{{lawyer.No}}</td>
                    <td>{{lawyer.Name}}</td>
                    <td>{{lawyer.Temporary_Category}}</td>
                    <td><label ng-if="lawyer.Availability==true">Yes</label> <label ng-if="lawyer.Availability==false">No</label></td>
                    <td><input type="radio" name="{{lawyer.Name+lawyer.No}}" value="true" ng-model="lawyer.NewAvailability" ng-init="lawyer.NewAvailability='Non'" />Yes     <input type="radio" name="{{lawyer.Name+lawyer.No}}" value="false" ng-model="lawyer.NewAvailability" ng-init="lawyer.NewAvailability='Non'" />No <!--ng-checked="lawyer.availability==true"--> <!--ng-checked="lawyer.availability==false"--></td>
                    <td><select ng-model="lawyer.NewlawyerName" ng-init="lawyer.NewlawyerName='Non'">

                        <!--inputParam['NameList']-->
                        <option ng-repeat="lawyers in inputParam['NameList']">{{lawyers.Name}}</option>
                    </select><br /> <input type="radio" ng-model="lawyer.LawyerReplacement" value="true" name="{{lawyer.Availability+lawyer.No}}" ng-init="lawyer.LawyerReplacement='Non'"/>Assign to this product type<br /> <input type="radio" ng-model="lawyer.LawyerReplacement" value="false" name="{{lawyer.Availability+lawyer.No}}" ng-init="lawyer.LawyerReplacement='Non'"/>Assign to both product types</td>
                    <td style="text-align: center;"><input type="checkbox" ng-model="lawyer.deleteValue" name="{{lawyer.Temporary_Category+lawyer.No}}" ng-init="lawyer.deleteValue='Non'"/>  </td>
                    <td><input type="button" value="Save" class="btn btn-primary" ng-click="addDataToArray(lawyer)" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>





</body>
</html>